<div id="field-info" style="display: none">
    <p id="field-info-id"></p>
    <p id="field-info-owner"></p>
</div>
<div id="field-actions" style="display: none">
    <div draggable="true" class="action-type"
         data-title="Soldier"
         data-content="The Soldier is capable of protecting all surrounding fields."
    ><i class="ra ra-sword"></i></div>
    <div draggable="true" class="action-type"
         data-title="Axeman"
         data-content="The Axeman is capable of attacking all surrounding fields."
    ><i class="ra ra-axe"></i></div>
    <div draggable="true" class="action-type"
         data-content="The Crossbowman is capable of attacking three fields in a row."
    ><i class="ra ra-crossbow"></i></div>
</div>
